@import "../commons";

// @import "~include-media/dist/include-media";

// $breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, largescreen: 1280px);



.cocktail-stream-wrapper {
	
	position: fixed;
	right: 30px;
	top:100px;
	min-width: 275px;
	max-width: 300px;
	
	margin: 2px 0 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-clip: padding-box;


	.cocktail-stream-body {
		max-height: 420px;
		min-height: 400px;
		// min-width: 275px;
		// max-width: 300px;
		width: 100%;
		overflow: scroll;
		margin-bottom: 0;
		margin-top: 0;

	}

	:global(.notifications) {

		.cocktail-empty-notification {
		  	min-height: 400px;
		  	max-height: 420px;
		  	position: relative;
		  	width: 100%;
		  	// height: 100%;

			
			.cocktail-empty-notification-content {
			  	position: absolute;
			  	top: 40%;
			  	left: 50%;
			  	width:75%;
			  	transform: translate(-50%, -40%);
			  	text-align: center;
			  	font-family:  'Open Sans';
			    font-weight: 400;
			    font-size: 13px;
			    color: #666;
			}

		}

	}




	.cocktail-stream-header {
		// width: 249px;
		// max-width: 250px;
		width: 100%;
		border-right: 1px solid rgba(0, 0, 0, 0.14902);
		margin-bottom: 0;

		.cocktail-stream-img {
		  	max-height: 18px;
		  	margin-left: 7px;
		}

		.cocktail-stream-heading {
			line-height: 22px !important;
		}

	}

	
		
}








