@import "../commons";

// @import "~include-media/dist/include-media";

// $breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, largescreen: 1280px);




.route-request-loading {

}




.station-elements {

}



.station-element {

}



.line-elements {

}



.line-element {

}


.rect-element {
	
}


.text-element {
	font-size: "19";
	font-weight: "bold";
	font-family: "Open Sans";
}


.path-element {
	font-size: "20";
	font-weight: "bold";
	font-family: "Open Sans";
}




